.city-name{
    font-size: 50px;
    text-align: center;
    color: #eee;    
}

.city-temp{
    font-size: 100px;
    text-align: center;
    margin-top: 120px;
    color: #eee;    
}

.city-weather{
    font-size: 50px;
    text-align: center;
    margin-top: 120px;
    color: #eee;    
}